body{
    width:100%;
    margin:0 auto;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    }
.cart.active{color:red}
.navbar{background-color: rgb(241, 239, 239) !important;}
.navbar-brand{font-family: 'Short Stack', cursive;color: rgb(84, 82, 82);font-size: 20px;}
.collapse{display: flex;justify-content: right;}
.navbar-nav{display: flex;gap:50px;font-size: 18px;}
.home-card{background-color: white;padding: 70px;height: 500px;}
.home-card h2{font-size: 45px;font-family: 'Times New Roman', Times, serif;color: rgb(91, 90, 90);font-weight: 600;}
.home-card p{color: rgb(165, 161, 161);}
.home-btn{border: none;background-color: #ff6f61;border-radius: 10px;color: white;width:120px;height: 35px;font-size: 18px;}
.home-card1{background-color: white;display: flex;gap:10px;padding:30px 20px;height: 500px;}
.home-img1{height: 380px;width:130px;margin-top: 50px;}
.home-img2{height: 380px;width:130px}
.home-img3{display: flex;background-color: white;padding: 30px 0;gap:50px;overflow-x: auto;width:100%;scroll-behavior: smooth;scrollbar-width: none;-ms-overflow-style: none;}
.home-card2{display: flex;justify-content: center;align-items: center;height: 200px;width:350px;background-image: url(../image/Default.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;flex-shrink: 0;}
.home-card2 p{background-color: rgba(224, 221, 221, 0.5);width: 100%;height: 50px;display: flex;justify-content: center;align-items: center;font-size: 18px;}
.home-card2:hover{transform: scale(1.1);}
.home-card2:hover p{opacity: 0;}
.home-card3{display: flex;justify-content: center;align-items: center;height: 200px;width:350px;background-image: url(../image/casual.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;flex-shrink: 0;}
.home-card3 p{background-color: rgba(224, 221, 221, 0.5);width: 100%;height: 50px;display: flex;justify-content: center;align-items: center;font-size: 18px;}
.home-card3:hover{transform: scale(1.1);}
.home-card3:hover p{opacity: 0;}
.home-card4{display: flex;justify-content: center;align-items: center;height: 200px;width:350px;background-image: url(../image/traditional.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;flex-shrink: 0;}
.home-card4 p{background-color: rgba(224, 221, 221, 0.5);width: 100%;height: 50px;display: flex;justify-content: center;align-items: center;font-size: 18px;}
.home-card4:hover{transform: scale(1.1);}
.home-card4:hover p{opacity: 0;}
.home-card5{display: flex;justify-content: center;align-items: center;height: 200px;width:350px;background-image: url(../image/formal.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;flex-shrink: 0;}
.home-card5 p{background-color: rgba(224, 221, 221, 0.5);width: 100%;height: 50px;display: flex;justify-content: center;align-items: center;font-size: 18px;}
.home-card5:hover{transform: scale(1.1);}
.home-card5:hover p{opacity: 0;}
.home-img4{background-image: url(../image/Rectangle\ 178.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;height: 250px;padding: 20px;display: flex;justify-content: center;align-items: center;}
.home-img4 p{color: rgb(90, 2, 2);font-size: 60px;font-weight: bold;}
.home-card6{height: 250px;width:280px;border-radius: 10px;background-image: url(../image/Frame\ 2806.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;padding: 20px;}
.one-row{margin-top: 150px;display: flex;justify-content: space-between;font-weight: 600;margin-bottom: 0;line-height: 0.5;}
.pa-small{font-size: 12px;margin-bottom: 0;}
.in-line{display: flex;justify-content: space-between;margin-bottom: 0;}
.add-btn{border: none;color: white;background-color:#ff6f61;width:120px;height: 30px;border-radius: 10px;font-size: 18px;}
.in-line i{color: yellow;font-size: 14px;}
.home-card7{height: 250px;width:280px;border-radius: 10px;background-image: url(../image/Frame\ 2664.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;padding: 20px;}
.home-card8{height: 250px;width:280px;border-radius: 10px;background-image: url(../image/Frame\ 2665.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;padding: 20px;}
.home-card9{height: 250px;width:280px;border-radius: 10px;background-image: url(../image/Frame\ 2807.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;padding: 20px;}
.home-img5{display: flex;gap:20px;justify-content: center;}
.home-card10{padding: 50px;display: flex;justify-content: center;align-items: center;flex-direction: column;}
.home-card10 h2{text-align: left;font-weight: bold;margin-bottom: 0;}
.home-card10 p{font-size: 13px;color:rgba(101, 100, 100, 0.5) ;}
.sub-btn{background-color: #ff6f61;border: none;color: white;width:120px;height: 35px;font-size: 18px;margin-left: 250px;}
footer{background-color: black;color: white;padding: 50px;}
.foot-card p{line-height: 1;color: lightgray;font-size: 14px;}
.i-pa{display: flex;gap:10px;margin-top: 0 !important;}
.foot-card1 h6, .foot-card h6{font-family: 'Times New Roman', Times, serif;font-weight: bold;margin-bottom: 20px;}
.foot-card1 p{line-height: 0.5;font-size: 14px;color: rgb(141, 137, 137);}
.log-modal{position: fixed;background-color: white;z-index: 1000;inset: 0;height: 700px;width:500px;display: none;}
.log-box{display: flex;flex-direction: column;height: 700px;width:500px;padding: 20px;}
.log-head{display: flex;justify-content: end;}
.close-btn{background-color: white;border: none;font-size: 24px;}
.log-box h2{text-align: center;font-size: 45px;font-weight: bold;}
.log-box p{text-align: center;color: rgb(118, 117, 117);margin-bottom: 40px;}
.log-box input{border: none;background-color: rgb(244, 242, 242);height:60px !important;border-radius: 10px;margin: 10px 40px;padding: 10px;}
.log-btn{margin-left:35%;border: none;background-color: #ff6f61;color: white;border-radius: 10px;height: 45px;width: 120px;font-size: 20px;}
.con-log{border-bottom: 1px solid black;padding-bottom: 20px;position: relative;margin-bottom: 20px !important;margin: 0 50px;}
.con-pa{position: absolute;top:56.5%;left:35%;background-color: white;}
.g-btn{display: flex;border: none;background-color: rgb(244, 242, 242);height:60px !important;border-radius: 10px;margin: 10px 40px;padding: 10px;gap:10px;justify-content: center;align-items: center;}
.a-btn{display: flex;border: none;background-color: rgb(244, 242, 242);height:60px !important;border-radius: 10px;margin: 10px 40px;padding: 10px;gap:10px;justify-content: center;align-items: center;}
.g-btn p, .a-btn p{margin-top:45px;}
.g-btn i{background:linear-gradient(red,green,blue);border-radius: 50%;background: linear-gradient(red, green, blue);-webkit-background-clip: text;background-clip: text;color: transparent;display: inline-block;font-size: 24px;}
.a-btn i{font-size: 24px;}
.reg-btn{border: none;background-color: black;color: white;height:35px;width:120px;border-radius: 10px;font-size: 16px;}
#cart{font-size: 20px;margin-top: 10px;cursor: pointer;}
#profile{font-size: 20px;margin-top: 10px;cursor: pointer;}
.pro-modal{display: none;position: fixed;background-color: white;width:500px;height: 550px;}
.pro-box{display: flex;flex-direction: column;}
.pro-head{display: flex;justify-content: end;}
.pro-box h2{font-size: 50px;text-align: center;color: rgb(52, 51, 51);}
.bold-pa{text-align: center;font-weight: bold;font-size: 18px;margin-bottom: 40px;}
.light-pa{text-align: center;color: rgb(121, 120, 120);}
.pro-box input{margin: 10px 60px;border: none;background-color: rgb(240, 239, 239);height: 60px;border-radius: 10px;padding: 20px;}
.pro-foot{display: flex;justify-content: end;margin: 0 60px;font-weight: bold;}
.long-pa{margin: 0 50px;}
.con-btn{margin-left: 30%;width:120px;height: 40px;margin-top:20px;color: white;background-color: #ff6f61;border: none;border-radius: 10px;}
.about-card h4{margin: 40px 0;font-weight: bold;}
.about-card{display: flex;flex-direction: column;justify-content: center;align-items: center;margin-bottom: 50px;}
.about-img{height: 400px;}
.about-card1 p{font-size: 26px;line-height: 1.2;}
.contact-card{display: flex;flex-direction: column;justify-content: center;align-items: center;position: relative;}
.contact-card h4{text-align: center;margin: 50px 0;}
.contact-card .form{border:1px solid black;border-radius: 10px;display: flex;flex-direction: column;padding: 20px 50px;width:60%}
.head-span{color: #2563EB;}
.form-head{margin-left: 10%;margin-bottom: 30px;}
.form-head h6{font-size: 24px;margin-bottom: 0;}
.name1{border-bottom: 1px solid black;margin-bottom: 50px;}
.name2{border-bottom: 1px solid black;margin-bottom: 50px;}
.name3{border-bottom: 1px solid black;margin-bottom: 30px;padding-bottom: 50px;}
.check-pa{text-align: center;}
.check-pa input{border: 1pc solid black;}
.contact-btn{background-color: #2563EB;border: none;border-radius: 10px;color: white;height: 35px;font-size: 20px;}
.alertmodal{position: absolute;display: none;background-color: white;width: 100%;height: 100%;justify-content: center;align-items: center;font-size: 24px;top:90px}
.cart-card{display: flex;margin-bottom: 50px;}
.cart-img{height: 200px;width: 150px;}
.cart-card1{display: flex;flex-direction: column;justify-content: center;align-items: center;margin: 0 20px;}
.cart-ca1{font-weight: bold;margin-bottom: 0;}
.onerow-line{border:1px solid black;width:70px;height: 25px;display: flex;justify-content: space-evenly;}
.onerow-linepa{border-left: 1px solid;border-right: 1px solid;padding: 0 10px;}
.cart-rate{display: flex;justify-content: center;align-items: center;margin-left: 20px;font-weight: bold;}
.cart-card2{display: flex;flex-direction: column;}
.cart-break{display: flex;justify-content: space-between;}
.cart-card2 h5{text-align: center;margin-bottom: 30px;}
.cart-card3{display: flex;justify-content: space-between;border-top: 1px solid black;font-weight: bold;padding-top: 10px;}
.cart-btn{border: none;background-color: #ff6f61;color: white;border-radius: 10px;width:250px;height: 40px;font-size: 20px;margin-top: 20px;margin-left: 50px;}
.check-list{display: flex;width:80%;justify-content: center;align-items: center;}
.check-red{border: none;background-color: #ff6f61;border-radius: 50%;color:white;height: 20px;width:20px;font-size: 10px;display: flex;justify-content: center;align-items: center;}
.check-light{border: 1px solid lightgray;background-color:white;border-radius: 50%;color:rgb(109, 108, 108);height: 20px;width:20px;font-size: 10px;display: flex;justify-content: center;align-items: center;}
.check-bold{font-weight: bold;}
.check-line{height: 2px;width: 150px;background-color: #ff6f61;}
.check-bold1{color: rgb(120, 120, 120);}
.check-line1{height: 2px;width: 150px;background-color: lightgray;}
.check-grid{display: grid;grid-template-columns: repeat(2, 1fr);width:90%}
.check-grid1{display: grid;grid-template-columns: repeat(3, 1fr);width:85%}
.check-form input{width:80%;}
.check-form p{font-weight: bold;}
.pay-card{display: flex;flex-direction: column;margin-top: 50px;margin-bottom: 50px;}
.pay-card p{display: flex;gap:5px}
.promo-grid{display: flex;justify-content: space-around;width:35%;margin-bottom: 20px;}
.promo-grid input{width:230px;margin-right: 5px;}
.toggle{cursor: pointer;background-color:#ff6f61;color: white;width: 70px;display: flex;justify-content: center;align-items: center;}
.check-btn{margin-left: 50%;border: none;background-color: #2563EB;height: 40px;color: white;font-weight: bold;border-radius: 5px;}
.check-card{border-bottom: 1px solid lightgray;display: flex;justify-content: space-evenly;align-items: center;gap:20px;width:90%;margin-bottom: 10px;}
.cart-break1{display: flex;justify-content: space-between;width: 90%;font-size: 14px;}
.check-card img{height:50px;width:50px}
.check-card3{display: flex;justify-content: space-between;width:90%;font-weight: bold;}
.check-list1{display: flex;justify-content: center;align-items: center;background-color: rgb(240, 240, 240);height: 100px;}
#section3{background-color: rgb(240, 240, 240);margin:20px}
.back1-btn{margin-left: 50%;border: none;background-color: #ff6f61;color: white;border-radius: 10px;width:120px;height: 35px;margin-bottom: 30px;}
.pay-img{width:100%;background-color: white;display: flex;flex-direction: column;align-items: center;justify-content: center;height: 450px;}
.pay-img img{width: 280px;margin-bottom: 100px;}
.pay-list{display: flex;justify-content: space-between;width:60%;font-size: 22px;font-weight: bold;}
.pay-list span{color: #ff6f61;}
.pay-list1{display: flex;flex-direction: column;background-color: white;padding: 20px;font-size: 20px;height: 450px;}
.pay-list1 input{border: 1px solid black;border-radius: 10px;width:80%}
.pay-grid{display: grid;grid-template-columns: repeat(2, 1fr);width:90%;}
.pay-grid1{display: grid;grid-template-columns: repeat(2, 1fr);margin-top: 30px;}
.cancel-btn{width:120px;border: 1px solid #2563EB;background-color: white;border-radius: 10px;}
.pay-btn{width:120px;border: none;width:120px;background-color: #ff6f61;border-radius: 10px;color: white;}  
.check-list2{display: flex;justify-content: center;align-items: center;}
#checki{color: green;display: flex;justify-content: center;align-items: center;font-size: 45px;margin-bottom:10px;}
.su-pa{text-align: center;font-size: 12px;}
.su-card{display: flex;flex-direction: column;align-items: center;justify-content: center;width:350px;background-color: rgb(234, 233, 233);margin-left: 35%;padding: 10px;margin-bottom: 30px;}
.su-pa1{text-align: center;font-size: 12px;margin-bottom: 0;}
.su-pa2{text-align: center;font-size: 12px;margin-top: 0;}
.continue-btn{border: none;background-color: #2563EB;color: white;width: 200px;height: 35px;border-radius: 5px;}
.track-btn{border: 1px solid #2563EB;background-color: white;color: #2563EB;width:200px;height: 35px;border-radius: 5px;}
.su-grid{display: flex;justify-content: center;align-items: center;gap:20px}
.track-card{display: flex;flex-direction: column;background-color: rgb(244, 242, 242);width: 700px;margin-left: 25%;padding: 10px;}
.track-card1{background-color: white;padding-top: 20px;padding-bottom: 10px;padding-left: 10px;padding-right: 10px;}
.tra-grid{display: flex;justify-content: space-between;margin-top: 0;}
.tra-grid p{font-size: 22px;font-weight: bold;}
.tra-pa{font-size: 12px;margin-bottom: 0;margin-top: 20px;}
.track-card2{background-color: rgb(244,242,242);display: flex;flex-direction: column;width:700px;margin-left: 25%;margin-top: 50px;padding: 20px;margin-bottom: 50px;}
.p1{height: 3px;width:400px;background-color: #ff6f61;margin-top: 10px;}
.emp-line{display: flex;justify-content: center;width: 100%;}
.emp-line span{height: 3px;width:150px;background-color: rgb(157, 155, 155);margin-right: 5px;margin-top: 10px;}
.tra-light{color: rgb(164, 163, 163);}
.tra-grid1{margin-left: 25%;display: flex;width:700px;background-color: rgb(244, 242, 242);padding: 20px;border: 1px solid black;justify-content: space-between;}
.tra-pa1 p{font-size: 12px;}
.need-btn{border: 1px solid black;width: 150px;height: 35px;margin-top: 10px;border-radius: 5px;}


@media(max-width:730px){.navbar-nav{gap:10px}.home-card{height: auto;}  .home-img5{display: flex;flex-wrap: wrap;}.about-img{height: 400px;width:100%;}.cate-filter{width:80%;margin-bottom: 20px;height: auto;}.modern-list{margin-left: 20px;}#section2{margin-right: 20px;margin-left: 100px;}.su-card{margin-left: 15%;}.track-card{width:auto;margin-left: 15%;}.track-card2{width: auto;margin-left: 15%;}.tra-grid1{width:auto;margin-left: 15%;}.need-btn{height: auto;}}
@media(min-width:731px) and (max-width:1024px){.navbar-nav{gap:10px} .home-img1,.home-img2{width: 100px;} .home-img5{display: flex;flex-wrap: wrap;}.modern-list{margin-left: 20px;}#section2{margin-right: 20px;margin-left: 100px;}.cart-btn{margin-left:10px;}.promo-grid{width:55%;}.track-card{width:auto;margin-left: 5%;}.track-card2{width: auto;margin-left: 5%;}.tra-grid1{width:auto;margin-left: 5%;}}
